{% extends 'template.html' %}
{% block head %}
    {% parent %}
    {% block title %}Debellum - Real-time war game{% endblock %}
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/tokeninput.js"></script>
    <script type="text/javascript" src="/date.js"></script>
    <script type="text/javascript" src="/account-intro.js"></script>
    <link rel="stylesheet" href="/token-input.css" type="text/css" />
    <link rel="stylesheet" href="/token-input-fb.css" type="text/css" />
    <link href="pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="pnotify.icons.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://apis.google.com/js/platform.js">
      {lang: 'it'}
    </script>
    <script type="text/javascript" src="pnotify.js"></script>

    <style>
        .fb-like{
            /*
            margin-top: 8px;
            margin-left: 8px;
            */
        }
        #___plusone_0 {
            margin-top: 8px !important;
            margin-left: 8px !important;
        }
    </style>
    <script>
    window.___gcfg = {lang: 'it'};

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=246073382242593";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var flashMessage = false;
    var msg_title = "{{msg_title}}";
    if ( $.trim(msg_title) != "" ){
        flashMessage = true;
    }
    
    fm_options = {
        bootstrap : true,
        show_email: false,
        show_name: false,
        name_label: "Nome",
        name_placeholder:"Inserisci il tuo nome",
        email_placeholder: "Digita il tuo indirizzo email (non verrà pubblicato nè reso pubblico)",
        name_required : false,
        email_required: false,
        message_required: true,
        message_placeholder:"Go ahead, type your feedback here...",
        feedback_url : "/feedback",
        message_label: "Feedback",
        message_placeholder: "Scrivi qui la tua opinione o i bugs rilevati: è importante per noi!",
        submit_label: "Invia",
        show_asterisk_for_required: true,
        title_label: "Inviaci la tua opinione o segnalaci eventuali bugs",
        csrf: "{{token}}"
    };
    //init feedback_me plugin
    fm.init(fm_options);

    
    var mymatchInterval = undefined;
    var availableInterval = undefined;
    
    var socket = io.connect(location.protocol+'//'+location.host, {'sync disconnect on unload': true });
    
    socket.on("userOnlineResponse", function(data){
        if ( data ){
            var elements = [];
            $("#users-online li").remove();
            $("#chat").fadeIn(300);
            for(var id in data.users){
                var d = data.users[id];
                elements.push(id);
                if ( $("#users-online li#"+id).length == 0 ){
                    $("#users-online").append( $("<li id='"+id+"' title='"+d.name.first+" "+d.name.last+"'><img src='seatFree' border='0' width='7'> "+d.nick+"</li>") );
                }
                
            }
            
            $("#users-online li").each(function(){
                if ( $.inArray($(this).attr("id"), elements) == -1 ){
                    $(this).fadeOut(1000, function(){
                        $(this).remove();
                    });
                }
            });
        }
    });
    
    socket.on("account-received-chat-message", function(data){
        if ( data && data.msg ){
            $("<li><i>"+data.user+"</i>: "+data.msg+"</li>").prependTo($("#chat-content"));
        }
    });

    socket.on("account-received-reminder", function(data){
        if (data && data.msg){
            show_note("info", "Sollecito", data.msg, 10000);
        }
    });

    socket.on("notify-reminder", function(data){
        if (data && data.msg){
            show_note("info", "Notifica", data.msg, 10000);
        }
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    };
    
    function rebuildPopovers(){
        $("[rel='popover']").popover({
            trigger: "hover",
            html: true,
            delay: { show: 1000, hide: 300 }
        });
    }

        $(document).ready(function(){
            
            rebuildPopovers();

            $("A.matchInvitation").click(function(){
                $("#sendInvitation").modal("show");
                $("#sendInvitation").attr("mid", $(this).parents("ul").attr("mid"));
            });

            $("A.joinMatch").click(function(){
                actionMatch("joinMatch", $(this).parents("ul").attr("mid"));
            });

            $("#text-invitation").tokenInput("/getContacts", {
                theme: "facebook",
                deleteText: "&#x2603;",
                hintText: '{{__("Digita il nickname del tuo amico")}}',
                noResultsText: '{{__("Nessun utente trovato, vuoi invitare il tuo amico a registrarsi? digita la sua email e premi invio...")}}',
                searchingText: '{{__("sto cercando...")}}',
                searchDelay: 500,
                minChars: 3,
                tokenLimit: 5,
                preventDuplicates: true,
                allowFreeTagging: true,
                zindex: 9999,
                propertyToSearch: "nick",
                onFreeTaggingAdd: function(hidden_input, token){
                    if ( !isValidEmailAddress(hidden_input) ){
                        $("#email_error").html(hidden_input+'{{__(" non è un\'email valida!")}}').css("visibility", "visible").delay(1000).animate({visibility: "hidden", opacity: 0}, 1000);
                        return undefined;
                    }
                    token = hidden_input;
                    return token;
                }
            });

            $("#sendInvitation").bind("hidden", function(){
                $("#text-invitation").tokenInput("clear");//$("ul.token-input-list-facebook li.token-input-token-facebook").remove();
            });

            $("IMG.playerImage, IMG.playMatchIcon, IMG.restoreMatchIcon").tooltip();
            
            /*
            Chiamate di aggiornamento delle partite
            */
            
            mymatchInterval = setInterval(function(){
                getMatchUpdates();
            }, 20000);
            
            /*
            availableInterval = setInterval(function(){
                getMatchUpdates("availableMatches");
            }, 20000);
            */
            
            if ( flashMessage == true ){
                setTimeout(function(){
                    $("#message").fadeOut(3000);
                }, 3000);
            }
            
            getMatchUpdates();
            
            $("#newMatch").on("shown", function(){
              makeAjaxCall("/allColours", "GET", {},
              function(data){
                if ( data ){
                  for(var idx in data){
                    var d = data[idx];
                    $("<option value='"+d.color+"'>"+d.name+"</option>").appendTo($("#newMatch select#player_color"));
                  }
                }
              },
              function(err){
                alert("err: "+err.responseText);
              });
            });
            
            $(document).on("click", "#account-intro", function(){
                intro.start();
            });
            {% if inviteFromMail -%}
                var id = "{{inviteFromMail}}";
                confirmJoinMatch(id);
            {% endif %}
            
            $(document).on("click", "IMG.seatBusy", function(){
                var matchCreator = $(this).parent().prev().html();
                var status = $(this).parent().next().html();
                var loggedUser = "{{user.nick}}";
                var userToBeKicked = $(this).attr("data-original-title");
                var userToBeKickedId = $(this).attr("id");
                var matchId = $(this).attr("mid");
                //l'utente loggato, se è proprietario della partita, può cacciare un altro utente
                //occhio! si può fare solo se la partita non è cominciata!
                if (status.indexOf("playMatchIcon") == -1 && matchCreator == loggedUser && loggedUser!=userToBeKicked)
                {
                    $("#kick-user DIV.modal-body p").html('{{__("Sei sicuro di voler eliminare il giocatore ")}}'+userToBeKicked);
                    $("#kick-user").modal("show");
                    $("#kick-user A#removeOnlyPlayer").unbind("click").click(function(){
                        removeUserFromMatch(matchId, userToBeKickedId, function(){
                            $("#kick-user").modal("hide");
                        });
                    });
                    //occhio! si può rimuovere lo slot solo se il numero dei giocatori è maggiore di 2
                    $("#kick-user A#removePlayerAndSlot").unbind("click").click(function(){                       
                        removeUserAndSlotFromMatch(matchId, userToBeKickedId, function(){
                            $("#kick-user").modal("hide");
                        });
                    });
                }
            });

            if( flashMessage == true ){
                $("#message").show();
            }
        });

        $(document).on("click", "IMG.playMatchIcon", function(){
          actionMatch("startJoinMatch", $(this).attr("mid"), true);
        });
        
        $(document).on("click", "IMG.restoreMatchIcon", function(){
            actionMatch("restoreJoinMatch", $(this).attr("mid"), true);
        });
        
        $(document).on("keyup", "#send-chat", function(event){
            if(event.keyCode == 13) {
    	        socket.emit("account-sent-chat", { msg: $(this).val() });
                $(this).val("");
	        }
        });

        //--------------------------------------------

        //  FUNZIONI
        /*
        var closeOtherPopovers = function(id){
            $("DIV[rel='popover'][id!='popover"+id+"']").popover("hide");
        };
        */
        
        var getMatchUpdates = function(){
            makeAjaxCall("/getMatchUpdates", "POST",
                {
                    _csrf: '{{token}}'
                },
                function(data){ //success
                    if ( data ){
                        updateMyMatches(data);
                    }
                },
                function(err){ //failure
                    //console.log("error: "+err.responseText);
                },
                function (){ //before
                    $("img.loading").show();
                },
                function(){ //complete
                    $("img.loading").fadeOut(400);
                }
            );            
        };
        
        var updateMyMatches = function(data){
            
            //aggiornamento tab myMatches
            updateMyMatchesData(data.myMatches);
            updateAvailableMatchesData(data.availableMatches);
            
            $("#availableMatches tbody tr").length == 0 ? $("#noavailablematches").show() : $("#noavailablematches").hide()
            
            $("#myMatches tbody tr").length == 0 ? $("#nomymatches").show() : $("#nomymatches").hide();
            
            $("IMG.playerImage, IMG.playMatchIcon, IMG.restoreMatchIcon").tooltip("destroy").tooltip();
        };
        
        var updateAvailableMatchesData = function(data){
            var elements = [];
            var newEls = [];
            for(var idx in data){
                var mm = data[idx].match;
                mm.free = data[idx].free;
                mm.infos = data[idx].infos;
                
                elements.push(mm._id);
                var trmatch = $("#availableMatches tr#"+mm._id);
                
                if ( trmatch.length == 0 ){
                    //non è tra i match elencati... quindi lo aggiungo in coda
                    newEls.push(mm);
                    continue;
                }
                
                var tdinfo = trmatch.find("td.infos > a");
                var content = $(tdinfo.attr("data-content"));
                var elenco = content.find("ul");
                if ( elenco ){
                    elenco.children().remove();
                }
                
                var seats = trmatch.find("td.seats");
                seats.children().each(function(idx){
                    
                    if ( idx < mm.players.length ){
                        var p = mm.players[idx];
                        $("<li>"+p.player.nick+"</li>").appendTo(elenco);
                        $(this).attr("href", "javascript:void(0);").find(" > img")
                        .attr("src", "seatBusy").addClass("playerImage").attr("data-toggle", "tooltip").attr("data-placement", "top").attr("title", "").attr("data-original-title", p.player.nick);
                    }
                    else{
                        $(this).attr("href", "javascript:confirmJoinMatch('"+mm._id+"');").find(" > img")
                        .attr("src", "seatFree").removeClass("playerImage").attr("data-original-title", '{{__("Posto libero! Partecipa!")}}');
                    }
                    
                });
                
                $(tdinfo).data('content', content.html());

                if ( mm.running === false && (mm.num_players - mm.players.length) > 0 ){
                    trmatch.find("td.status").html('{{__("in attesa di giocatori")}} <a mid="'+mm._id+'" href=\"javascript:confirmJoinMatch(\''+mm._id+'\');\" class="btn btn-success btn-mini" src="/play" border="0" data-toggle="tooltip" data-placement="top" title="" data-original-title=\'{{__("Entra nella partita e dai il via alle ostilità!")}}\'>{{__("Partecipa")}}</a>');
                }
                
                
            }
            $("#availableMatches tbody tr").each(function(){
                if ( $.inArray($(this).attr("id"), elements) == -1 ){
                    $(this).fadeOut(1000, function(){
                        $(this).remove();
                    });
                }
            });
            
            var tbody = $("#availableMatches table tbody");
            $.each(newEls, function(){
                var m = $(this)[0];
                var tr = $("<tr id='"+m._id+"' style='display:none;'></tr>");
                tr.append($('<td class="infos"><a href="#" id="'+m._id+'" rel="popover" data-toggle="popover" data-placement="right" title="" data-content="'+m.infos+'" data-original-title="Match Infos">'+m.name+'</a></td>'));
                tr.append('<td class="date">'+new Date(m.started_at).toString("d MMMM yyyy HH:mm:ss")+'</td>');
                tr.append('<td class="master">'+m.masterPlayer.nick+'</td>');
                var td = $('<td class="seats"></td>');
                for(var idx in m.players){
                    var p = m.players[idx];
                    td.append('<a href="javascript:void(0);"><img src="seatBusy" class="playerImage" border="0" data-toggle="tooltip" data-placement="top" title="" data-original-title="'+p.player.nick+'"></a>');
                }
                for(var idx=0; idx < m.free;idx++){
                    td.append('<a href="javascript:confirmJoinMatch(\''+m._id+'\');"><img src="seatFree" class="playerImage" border="0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Posto Libero! Partecipa!"></a>');
                }
                tr.append(td);
                tr.append('<td class="status">in attesa di giocatori <a mid='+m._id+' href="javascript:confirmJoinMatch(\''+m._id+'\');" class="btn btn-success btn-mini" src="/play" border="0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Entra nella partita e dai il via alle ostilità!">Partecipa</a></td>');
                //tr.prependTo(tbody);
                tbody.prepend(tr);
                tr.fadeIn(1000);
            });
            rebuildPopovers();
        }        
        
        var updateMyMatchesData = function(data){
            var storico = [];
            var elements = [];
            for(var idx in data){
                var mm = data[idx].match;
                mm.free = data[idx].free;
                mm.infos = data[idx].infos;                
                elements.push(mm._id);
                var trmatch = $("#myMatches tr#"+mm._id);
                
                if ( mm.winner ){
                    storico.push(mm);
                    trmatch.remove();
                    continue;
                }
                
                if ( trmatch.length == 0 ){
                    //non è tra i match elencati... quindi lo aggiungo in coda
                    //newEls.push(mm);
                    continue;
                }
                
                var tddata = trmatch.find("td.date");
                var started_at = new Date(mm.started_at).toString("d MMMM yyyy HH:mm:ss");
                
                tddata.html(started_at + ( ( mm.frozen && mm.frozen.created_at ) ? " <br/><small>salvata il "+new Date(mm.frozen.created_at).toString("d MMMM yyyy HH:mm:ss")+"</small>" : "" ));
                
                
                var tdinfo = trmatch.find("td.infos > a");
                var content = $(tdinfo.attr("data-content"));
                var elenco = content.find("ul");
                if ( elenco ){
                    elenco.children().remove();
                }
                
                var seats = trmatch.find("td.seats");
                seats.children("img").each(function(indice){
                    //setup degli slot occupate
                    if ( indice < mm.players.length ){
                        var p = mm.players[indice];
                        $("<li>"+p.player.nick+"</li>").appendTo(elenco);
                        $(this).attr("src", "seatBusy").addClass("playerImage seatBusy").attr("data-toggle", "tooltip").attr("data-placement", "top").attr("title", "").attr("data-original-title", p.player.nick).attr("mid", mm._id).attr("id", p.player._id);
                    }
                    //setup degli slot liberi
                    else if (indice < mm.players.length + mm.free) {
                        $(this).attr("src", "seatFree").removeClass("playerImage").removeAttr("data-toggle").removeAttr("data-placement").removeAttr("title").removeAttr("data-original-title");
                    }
                    //nascondi slot rimossi
                    else {
                        $(this).hide();
                    }
                    
                });
                
                $(tdinfo).data('popover').options.content = content.html();

                if ( mm.running === false && (mm.num_players - mm.players.length) > 0 ){
                    trmatch.find("td.status").html('{{__("Ci sono ancora posti liberi")}}');
                }
                else if ( (mm.num_players - mm.players.length) === 0 ){

                    /*                    
                    var allOnline = true;
                    //check if all players are online
                    for(var i=0; i< mm.players.length; i++){
                        var id = mm.players[i].player._id;
                        if ( !( mm.players[i].abandoned === true ) && $("#users-online li#"+id).length == 0 ){
                            allOnline = false;
                            break;
                        }
                    }
                    
                    if ( allOnline === true ){
                        var uno = '{{__("Pronto alla battaglia")}}';
                        var due = '{{__("Entra nella partita ed attendi che il master player dia il via alle ostilità!")}}';
                        var td = trmatch.find("td.status");
                        if ( $(td).find("img.playMatchIcon").length == 0 ){
                            trmatch.find("td.status").html( uno+" <img mid='"+mm._id+"' class='playMatchIcon' src='/play' border='0' data-toggle=\"tooltip\" data-placement=\"top\" title=\"\" data-original-title='"+due+"'> ");
                        }
                    }
                    else{
                        trmatch.find("td.status").html('{{__("Non tutti gli utenti sono ancora online")}}');
                    }
                    */
                    var uno = '{{__("Avvia la partita")}}';
                    var due = '{{__("Entra nella partita e dai il via alle ostilità!")}}';
                    var td = trmatch.find("td.status");
                    if ( $(td).find("img.playMatchIcon").length == 0 ){
                        trmatch.find("td.status").html( uno+" <img mid='"+mm._id+"' class='playMatchIcon' src='/play' border='0' data-toggle=\"tooltip\" data-placement=\"top\" title=\"\" data-original-title='"+due+"'> ");
                    }

                }
                
                
            }
            $("#myMatches tbody tr").each(function(){
                if ( $.inArray($(this).attr("id"), elements) == -1 ){
                    $(this).fadeOut(1000, function(){
                        $(this).remove();
                    });
                }
            });

            $.each(storico, function(){
                if ( $("#storico tbody tr#"+this._id).length == 0 ){
                    var tbody = $("#storico tbody");
                    var m = this;
                    var tr = $("<tr id='"+m._id+"' style='display:none;'></tr>");
                    tr.append($('<td class="infos"><a href="#" id="'+m._id+'" rel="popover" data-toggle="popover" data-placement="right" title="" data-content="'+m.infos+'" data-original-title="Match Infos">'+m.name+'</a></td>'));
                    tr.append('<td class="date">'+new Date(m.started_at).toString("d MMMM yyyy HH:mm:ss")+'</td>');
                    tr.append('<td class="master">'+m.masterPlayer.nick+'</td>');
                    var td = $('<td class="seats"></td>');
                    for(var idx in m.players){
                        var p = m.players[idx];
                        td.append('<a href="javascript:void(0);"><img src="seatBusy" class="playerImage" border="0" data-toggle="tooltip" data-placement="top" title="" data-original-title="'+p.player.nick+'"></a>');
                    }
                    tr.append(td);
                    tr.append('<td class="winner">'+m.winner.nick+'</td>');
                    tr.append( $('<td> {{__("Visualizza Partita")}} <img mid="'+m._id+'" class="playMatchIcon" src="/play" border="0"0 data-toggle="tooltip" data-placement="top" title="" data-original-title=\'{{__("Entra nella partita ed dai il via alle ostilità!")}}\'> </td>') );
                    tbody.prepend(tr);
                    tr.fadeIn(1000);
                    
                }
            });
        }

        function actionMatch(actionUrl, matchId, newPage, player_color){
            var form = $("<form method='POST' action='/"+actionUrl+"?q="+new Date().getTime()+"' id='joinMatchForm' "+(newPage ? " target='_blank_"+matchId+"' " : "")+">\
                                <input type='hidden' name='matchId' value='"+matchId+"'>\
                                <input type='hidden' name='_csrf' value='{{token}}'>\
                                <input type='hidden' name='player_color' value='"+player_color+"'>\
                            </form>");
            form.appendTo($('body'));
            form.submit();
        }

        function confirmJoinMatch(matchId){

          makeAjaxCall("/getColoursAvailable", "POST", {matchId: matchId, _csrf: '{{token}}'}, function(data){
            var script = '$("#confirmBox select#playerColorMatch").empty();';
            for(var idx=0; idx < data.length; idx++){
              script += '$("<option value=\''+data[idx].color+'\'>'+data[idx].name+'</option>").appendTo($("#confirmBox select#playerColorMatch"));';
            }
            showConfirmBox('{{__("Confirm")}}', '{{__("Sicuro di voler partecipare a questa partita?")}}<br/>\
                        <small>Scegli il tuo colore:</small> <select id="playerColorMatch"></select>', function(){
                actionMatch("joinMatch", matchId, false, $("#confirmBox select#playerColorMatch").val());
            });
            eval(script);
          }, function(err){
            showAlertBox("Error", err.responseText);
          });


        }

        function confirmLeaveMatch(matchId){
            showConfirmBox('{{__("Sicuro")}}'+'???', '{{__("Vuoi veramente abbandonare questa partita?")}}', function(){
                actionMatch("leaveMatch", matchId);
            });
        }
        
        function confirmDeleteMatch(matchId){
            showConfirmBox('{{__("Sicuro")}}'+'???', '{{__("Vuoi veramente cancellare questa partita?")}}', function(){
                actionMatch("deleteMatch", matchId);
            });
        }
        
        var removeUserFromMatch = function(matchId, userId, callback){
            makeAjaxCall("/removeUserFromMatch", "POST",
                {
                    matchId: matchId,
                    userId: userId,
                    _csrf: '{{token}}'
                },
                function(data){ //success
                    if ( data ){
                        getMatchUpdates();
                        if ( callback ){
                            callback();
                        }
                    }
                },
                function(err){ //failure
                    //console.log("error: "+err.responseText);
                }
            );            
        }

        var removeUserAndSlotFromMatch = function(matchId, userId, callback){
            makeAjaxCall("/removeUserAndSlotFromMatch", "POST",
                {
                    matchId: matchId,
                    userId: userId,
                    _csrf: '{{token}}'
                },
                function(data){ //success
                    if ( data ){
                        getMatchUpdates();
                        if ( callback ){
                            callback();
                        }
                    }
                },
                function(err){ //failure
                    //console.log("error: "+err.responseText);
                }
            );            
        }

        $(document).on("click", "li > a.sendReminder", function(){
            var $this = $(this);

            showInputBox('{{__("Invio Solleciti")}}', '{{__("Digita il testo opzionale da inviare insieme al sollecito")}}', function(){
                makeAjaxCall("/sendReminder", "POST", 
                {
                    matchId:  $this.parents("ul:eq(0)").attr("mid"),
                    msg: $("#inputBox DIV.modal-body textarea#content").val(),
                    _csrf: '{{token}}'
                }, 
                function(data){
                    showAlertBox('{{__("Notifiche")}}', '{{__("I tuoi reminder sono stati inviati correttamente!")}}');
                },
                function(err){
                    
                });
                $("#inputBox").modal("hide");
            });


        });

        $(document).on("click", "#modalInvitationSender", function(){

            makeAjaxCall("/sendInvitationToMatch", "POST",
                {
                    matchId: $("#sendInvitation").attr("mid"),
                    contacts: $("#text-invitation").tokenInput("get"),
                    _csrf: '{{token}}'
                },
                function(data){
                    showAlertBox('{{__("Notifiche")}}', '{{__("I tuoi inviti sono stati inviati!")}}');
                },
                function(err){
                    showAlertBox('{{__("Errore nelle notifiche")}}', '{{__("Mmmmm.... sembrano esserci problemi...<br/>Per favore, riprova più tardi...")}}');
                },
                function (){
                    $("#sendInvitation A.btn").attr("disabled", "disabled");
                },
                function(){
                    $("#sendInvitation").modal("hide");
                    $("#sendInvitation A.btn").removeAttr("disabled");
                }
            );

        });

        function makeAjaxCall(url, type, data, successFn, errorFn, beforeFn, completeFn){
            $.ajax({ cache: false
                       , dataType: "json"
                       , data: data
                       , url: url
                       , type: type
                       , error: errorFn
                       , success: successFn
                       , beforeSend: beforeFn
                       , complete: completeFn
                       });
        }

        function showAlertBox(title, message){
            $("#alertBox DIV.modal-header h3").html(title);
            $("#alertBox DIV.modal-body p").html(message);
            $("#alertBox").modal("show");
        }

        function showConfirmBox(title, message, callback){
            $("#confirmBox DIV.modal-header h3").html(title);
            $("#confirmBox DIV.modal-body p").html(message);
            $("#confirmBox").modal({
                show: true,
                backdrop: "static"
            });

            $("#confirmBox A#confirmBoxNo").unbind("click").click(function(){
                $("#confirmBox").modal("hide");
            });
            $("#confirmBox A#confirmBoxYes").unbind("click").click(function(){
                callback.call(this);
            });

        }

        function showInputBox(title, message, callback){
            $("#inputBox DIV.modal-header h3").html(title);
            $("#inputBox DIV.modal-body p").html(message);
            $("#inputBox").modal({
                show: true,
                backdrop: "static"
            });

            $("#inputBox A#inputBoxNo").unbind("click").click(function(){
                $("#inputBox").modal("hide");
            });
            $("#inputBox A#inputBoxYes").unbind("click").click(function(){
                callback.call(this);
            });

        }        

        function show_note(type, title, message, delay) {
            var opts = {
                    title: title,
                    text: message,
                    type: type,
                    delay: delay ? delay : 5000,
                    nonblock: false,
                    history: true,
                    sticker: false
            };
            $.pnotify(opts);
        }        

        //--------------------------

    </script>
{% endblock %}
{%block content%}
<div class="hero-unit" style="position:relative;top:80px;padding:10px 60px;">
    <div class="row-fluid">
        <h2 style="float:left;" id='step1'>
            Ciao {{user.name.first}} {{user.name.last}} ({{user.nick}})
        </h2>
        <div class="well" style="float:right;margin:0px 4px;">
            <a id="step2" href='#newMatch' class='btn btn-large btn-primary' data-toggle="modal" role="button">{{__("Crea nuova partita")}}</a>
            <a class='btn btn-large' role='button' id="account-intro">{{__("Tutorial")}}</a>
            <a id="steplast" href='/logout' class='btn btn-large btn-inverse'>{{__("Esci")}}</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <div id="message" class="alert alert-block alert-{{msg_level}}" style="display:none;">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>{{msg_title}}</h4>
              {{msg_body}}
            </div>
            <ul class="nav nav-tabs" id="matches" style="margin:0px;margin-left:30px;">
                <li id="step3" class="active"><a href="#myMatches" data-toggle="tab">{{__("Partite a cui partecipi")}}</a></li>
                <li id="step4"><a href="#availableMatches" data-toggle="tab">{{__("Partite disponibili")}}</a></li>
                <li id="step5"><a href="#storico" data-toggle="tab">{{__("Storico")}}</a></li>
                <div style="float: left;margin-top: 8px;margin-left: 8px;">
                    <div class="fb-like" data-href="https://www.facebook.com/Debellum" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
                <div style="float: left;">
                    <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="200" data-href="https://www.google.com/+DebellumNet"></div>
                </div>
            </ul>

            <div class="tab-content" style="min-height:250px;">
                <div class="tab-pane active matches" id="myMatches">
                    <h3>{{__("Partite a cui partecipi")}} <img src="/loading-small" title='Caricamento dati dal server...' class="loading" border="0"></h3>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th><span id="step3a">Azioni</span></th>
                                <th>#</th>
                                <th><span id="step3b">{{__("Creata il")}}</span></th>
                                <th><span id="step3c">{{__("Creatore")}}</span></th>
                                <th><span id="step3d">{{__("Giocatori")}}</span></th>
                                <th><span id="step3e">{{__("Stato")}}</span></th>
                            </tr>
                        </thead>
                        <tbody class='match'>
                            {% for m in myMatchList %}
                                {% if !m.winner %}
                                    <tr id="{{m._id}}">
                                        <td class="actions">
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
                                                    {{__("Azioni")}}
                                                    <span class="caret"></span>
                                                </a>
                                                <ul id="menu1" class="dropdown-menu" role="menu" mid='{{m._id}}'>
                                                  <li role="presentation"><a role="menuitem" class="matchInvitation" tabindex="-1" href="javascript:void(0);">{{__("Invia inviti")}}</a></li>
                                                  <li role="presentation" class="divider"></li>
                                                    {% if m.masterPlayer._id == user.id %}  <!-- se sono il masterPlayer, posso cancellare il match -->
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" class="deleteMatch" href="javascript:void(0);" onClick="confirmDeleteMatch('{{m._id}}');">{{__("Cancella partita")}}</a></li>
                                                    {% endif %}
                                                    {% if m.masterPlayer._id != user.id && m.running == false%} <!-- posso uscire da un match solo se non ne sono proprietario -->
                                                        <li role="presentation"><a role='menuitem' tabindex="-1" class="exitFromMatch" href="javascript:void(0);" onClick="confirmLeaveMatch('{{m._id}}');">{{__("Abbandona partita")}}</a></li>
                                                    {% endif %}
                                                  <!--li role="presentation"><a role='menuitem' tabindex="-1" class="playMatch" href="#">{{__("Play")}}</a></li-->
                                                  <li role="presentation"><a role='menuitem' tabindex="-1" class="sendReminder" href="#">Sollecita</a></li>
                                                </ul>
                                              </div>
                                        </td>
                                        <td class="infos"><a href='#' id="{{m._id}}" rel="popover" data-toggle="popover" data-placement="right" title="" data-content="{{m.infos}}" data-original-title='{{__("Match Infos")}}'>{{m.name}}</a></td>
                                        <td class="date">{{m.started_at|date('j F Y H:i:s')}} 
                                        {% if m.frozen and m.frozen.created_at %}
                                            <br/><small>salvata il {{m.frozen.created_at}}</small>
                                        {% endif %}
                                        </td>
                                        <td class="master">{{m.masterPlayer.nick}}</td>
                                        <td class="seats">
                                            {% for p in m.players %}
                                                <img src='seatBusy' id='{{p.player._id}}' mid='{{m._id}}' class='playerImage seatBusy' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{p.player.nick}}">
                                            {% endfor %}
                                            {% for idx in m.free|buildArray %}
                                                <img src='seatFree' border='0'>
                                            {% endfor %}
                                        </td>
                                        <td class="status">
                                            {% if m.running == false && m.free > 0 %}
                                                {{__("in attesa di giocatori")}}
                                            {% else if m.free == 0 %}
                                                {{__("Avvia la partita")}} <img mid='{{m._id}}' class='playMatchIcon' src='/play' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{__("Entra nella partita e dai il via alle ostilità!")}}'>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id='nomymatches' style="display:none;">
                        <a href='#newMatch' class='btn btn-medium btn-primary' data-toggle="modal" role="button">{{__("Non ci sono partite...Vuoi crearne una?")}}</a>
                    </div>
                    <p style='height:50px;'></p>
                </div>
                <div class="tab-pane matches" id="availableMatches">
                    <h3>{{__("Partite disponibili")}} <img src="/loading-small" title="Caricamento dati dal server..." class="loading" border="0"></h3>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <!--<th>&nbsp;</th>-->
                                <th>#</th>
                                <th><span id="step4a">{{__("Creata il")}}</span></th>
                                <th><span id="step4b">{{__("Creatore")}}</span></th>
                                <th><span id="step4c">{{__("Giocatori")}}</span></th>
                                <th><span id="step4d">{{__("Stato")}}</span></th>
                            </tr>
                        </thead>
                        <tbody class='match'>
                            {% for m in allMatches %}
                                {% if m|length == 0 %}
                                <tr id="{{m._id}}">
                                    <td class="infos"><a href='#' id="{{m._id}}" rel="popover" data-toggle="popover" data-placement="right" title="" data-content="{{m.infos}}" data-original-title='{{__("Match Infos")}}'>{{m.name}}</a></td>
                                    <td class="date">new Date('{{m.started_at|date('j F Y H:i:s')}}').toString("d MMMM yyyy HH:mm:ss")</td>
                                    <td class="master">{{m.masterPlayer.nick}}</td>
                                    <td class="seats">
                                        {% for p in m.players %}
                                            <a href='javascript:void(0);'><img src='seatBusy' class='playerImage' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{p.player.nick}}"></a>
                                        {% endfor %}
                                        {% for idx in m.free|buildArray %}
                                            <a href="javascript:confirmJoinMatch('{{m._id}}');"><img src='seatFree' class='playerImage' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{__("Posto libero! Partecipa!")}}'></a>
                                        {% endfor %}
                                    </td>
                                    <td class="status">
                                        {% if m.running == false && m.free > 0 %}
                                            waiting for players <a mid='{{m._id}}' href="javascript:confirmJoinMatch('{{m._id}}');" class='btn btn-success btn-mini' src='/play' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{__("Entra nella partita ed dai il via alle ostilità!")}}'>{{__("Partecipa")}}</a>
                                        {% else if m.pause %}
                                            pausa
                                        {% else %}
                                            in gioco
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id='noavailablematches' style="display:none;">
                        <a href='#newMatch' class='btn btn-medium btn-primary' data-toggle="modal" role="button">{{__("Non ci sono partite...Vuoi crearne una?")}}</a>
                    </div>
                    <p style='height:50px;'></p>
                </div>
                <div class="tab-pane" id="storico">
                    <h3>{{__("Storico delle tue partite")}} <img src="/loading-small" title="Caricamento dati dal server..." class="loading" border="0"></h3>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{__("Creata il")}}</th>
                                <th>{{__("Creatore")}}</th>
                                <th>{{__("Giocatori")}}</th>
                                <th>{{__("Vincitore")}}</th>
                                <th>{{__("Match")}}</th>
                            </tr>
                        </thead>
                        <tbody class='match'>
                            {% for m in myMatchList %}
                                {% if m.winner && m|length == 0 %}
                                    <tr>
                                        <td><a href='#' id="{{m._id}}" rel="popover" data-toggle="popover" data-placement="right" title="" data-content="{{m.infos}}" data-original-title='{{__("Match Infos")}}'>{{m.name}}</a></td>
                                        <td>{{m.started_at|date('j F Y H:i:s')}}</td>
                                        <td>{{m.masterPlayer.nick}}</td>
                                        <td>
                                            {% for p in m.players %}
                                                <img src='seatBusy' class='playerImage' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{p.player.nick}}">
                                            {% endfor %}
                                            {% for idx in m.free|buildArray %}
                                                <img src='seatFree' border='0'>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{m.winner.nick}}
                                        </td>
                                        <td>
                                            {{__("View match")}} <img mid='{{m._id}}' class='restoreMatchIcon' src='/play' border='0' data-toggle="tooltip" data-placement="top" title="" data-original-title='{{__("Vedi lo stato finale della partita!")}}'>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <p style='height:50px;'></p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="span4" style="border:1px solid rgba(192, 145, 102, 0.63);-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;min-height: 300px;">
                <h4 style="text-align:center">Users online</h4>
                <hr style="color: #e46b24;margin: 0px;"/>
                <div >
                    <ul id="users-online" style='list-style-type: none;margin: 3px;font-size:10px;'>
                        <li>Connecting...</li>
                    </ul>
                </div>
            </div>
            <div id="chat" class="span7" style="display:none;min-height: 300px;position:relative;border:1px solid rgba(192, 145, 102, 0.63);-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;">
                <h4 style="text-align:center">Chat</h4>
                <hr style="color: #e46b24;margin: 0px;"/>
                <div style="text-align: left;font-size: 0.7em;max-height:300px;overflow-y:auto;margin-bottom:40px;">
                    <ul style="list-style-type: none;margin: 2px;" id="chat-content" >
                    </ul>
                </div>
                <div style="position: absolute;bottom: 0px;">
                    <input type="text" id="send-chat" style="width: 125%;height: 10px;font-size: 10px;margin: 10px;" title="Premi [Invio] per inviare il messaggio!">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="newMatch" class="modal hide fade">
    <form method="POST" action="/createNewMatch">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{__("Nuova partita")}}</h3>
      </div>
      <div class="modal-body">
            <div class="control-group">
              <label class="control-label"  for="name">{{__("Nome della partita")}}</label>
              <div class="controls">
                <input autofocus pattern=".{3,15}" type="text" id="name" name="name" placeholder="mymatch" value="" class="input-xlarge">
                <p class="help-block">{{__("Non sono ammessi spazi. Se lasciato vuoto, verrà dato un nome in automatico.")}} <br/><span class='verysmall'>{{__("min 3, max 15 caratteri")}}</span></p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"  for="num_players">{{__("Numero di giocatori")}}</label>
              <div class="controls">
                <select name="num_players">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <p class="help-block">{{__("Seleziona il tuo colore")}}</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"  for="player_color">{{__("Colore")}}</label>
              <select name="player_color" id="player_color">
              </select>
            </div>
            <p class="text-warning">{{__("La partita inizierà quando tutti gli slot saranno occupati")}}</p>
            <input type="hidden" name="_csrf" value="{{token}}">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{__("Chiudi")}}</a>
        <input type="submit" class="btn btn-large btn-danger" value='{{__("Crea!")}}'>
      </div>
    </form>
</div>

<div id="sendInvitation" class="modal hide fade" mid=''>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{__("Manda inviti")}}</h3>
    </div>
    <div class="modal-body">
        <p class="lead">{{__("Digita il nick del tuo amico per inviargli l'invito a partecipare a questa partita")}}</p>
        <p class="muted">{{__("Se il tuo amico non è ancora registrato, digita la sua email per invitarlo, e premi invio!")}}</p>
        <p id="email_error" style="height:20px;color:red;"></p>
        <input type="text" class="span3" style="width:400px;height:200px;" id="text-invitation" style="margin: 0 auto;" autocomplete="off">
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn" data-dismiss="modal">{{__("Annulla")}}</a>
        <a href="javascript:void(0);" class="btn btn-large btn-danger" id="modalInvitationSender">{{__("Manda gli inviti!")}}</a>
    </div>
</div>

<div id="confirmStartMatch" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{__("Manda inviti")}}</h3>
    </div>
    <div class="modal-body">
        <p class="lead">{{__("Vuoi invitare <span id='user'></span> a partecipare a questa partita?")}}</p>
        <p class="muted">{{__("Il tuo amico riceverà un invito, poi deciderà se accettare o rifiutare il tuo invito...")}}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{__("Chiudi")}}</a>
        <a href="#" class="btn btn-large btn-danger" value='{{__("Invialo!")}}'></a>
    </div>
</div>

<div id="alertBox" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p class="lead"></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{__("Chiudi")}}</a>
    </div>
</div>

<div id="confirmBox" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p class="lead"></p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-large" id="confirmBoxNo">{{__("No")}}</a>
        <a href="javascript:void(0);" class="btn btn-success btn-large" id="confirmBoxYes">{{__("Si")}}</a>
    </div>
</div>

<div id="inputBox" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p class="lead"></p>
        <textarea id="content"></textarea>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-large" id="inputBoxNo">{{__("Annulla")}}</a>
        <a href="javascript:void(0);" class="btn btn-success btn-large" id="inputBoxYes">{{__("OK")}}</a>
    </div>
</div>
<div id="kick-user" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{__("Rimozione giocatori")}} </h3>
    </div>
    <div class="modal-body">
        <p class="lead"></p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-small btn-success" id="removeOnlyPlayer">{{__("Rimuovi solo il giocatore")}}</a>
        <a href="javascript:void(0);" class="btn btn-small btn-success" id="removePlayerAndSlot">{{__("Rimuovi il giocatore &#10; riducendo i posti disponibili")}}</a>
        <a href="javascript:void(0);" class="btn btn-small" data-dismiss="modal">{{__("Annulla")}}</a>
    </div>
</div>
{%endblock%}