{% extends 'template.html' %}
{% block head %}
    {% parent %}
    {% block title %}Debellum - Change Page{% endblock %}
{% endblock %}
{% block content%}
    <div class="hero-unit" style="margin-top:70px;">
        <div id="betaModal">
            <div class="modal-header">
                    <h3>{{__("Cambia password")}}</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span4">
                            <div class="logowrapper">
                                <img src='/main' border='0'>
                            </div>
                        </div>
                        <div class="span4">
                            {% if error.length > 0 %}
                                <div class="alert alert-error" style="margin:10px 0;">
                                    <a class="close" data-dismiss="alert" href="#">×</a>{{error}}
                                </div>
                            {% endif %}
                            {% if info.length > 0 %}
                                <div class="alert alert-info" style="margin:10px 0;">
                                    <a class="close" data-dismiss="alert" href="#">×</a>{{info}}
                                </div>
                            {% endif %}

                            <form method="POST" action="/recoveryPassword" class="form-horizontal">
                                <input type="hidden" name="_csrf" value="{{token}}">
                                  <!-- Password-->
                              <label for="password">{{__("Password")}}</label>
                              <div>
                                <input pattern=".{4,}" type="password" id="pass" name="pass" placeholder="password" class="input-xlarge" required>
                                <br/>
                                <small>{{__("La password deve essere almeno di 4 caratteri")}}</small>
                              </div>
                              <br/>
                              <!-- Password -->
                              <label  for="password_confirm">Password ({{__("Conferma")}})</label>
                              <div>
                                <input pattern=".{4,}" type="password" id="password_confirm" name="password_confirm" placeholder="confirm password" class="input-xlarge" required onfocus="validatePass(document.getElementById('pass'), this);" oninput="validatePass(document.getElementById('pass'), this);">
                                <br/>
                                <small>{{__("Digita di nuovo la password")}}</small>
                              </div>
                                <div class="well-small">
                                    <button type="submit" class="btn btn-large btn-info">{{__("Imposta la nuova password")}}</button>&nbsp;
                                    <a href="/" class="btn btn-large btn-inverse">{{__("Annulla")}}</a>
                                </div>
                            </form>
                        </div>
                        <div class="span4">
                            <script type="text/javascript">
                                var uri = 'http://impit.tradedoubler.com/imp?type(js)pool(505979)a(2320835)' + new String (Math.random()).substring (2, 11);
                                document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}