{% extends 'template.html' %}
{% block head %}
    {% parent %}
    {% block title %}Debellum - Real-time war game{% endblock %}
    <script>
      var ischromeMobile = /CriOS/.test(navigator.userAgent);
      var ischrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
      var isfirefox = /firefox/.test(navigator.userAgent.toLowerCase());
      $(document).ready(function(){
        if ( isfirefox ){
          showAlertBox("Attenzione", "Stai usando Firefox? Ok, può andare, ma sarebbe meglio utilizzare <a href='https://www.google.com/intl/it/chrome/browser/' target='_CHROME'>Chrome</a>");
        }
        else if ( !ischrome && !ischromeMobile ){
          showAlertBox("Attenzione", "Spiacente, Debellum è compatibile solo con <a href='https://www.google.com/intl/it/chrome/browser/' target='_CHROME'>Chrome</a> (al massimo con Firefox)! Continua a tuo rischio e pericolo...");
        }

        $("#loginForm input.form-control, #registerForm input.form-control").tooltip({'trigger':'focus'});

        var lis = $('.nav > li');
        menu_focus( lis[0], 1 );

      });

      function showAlertBox(title, message){
        $("#alertBox DIV.modal-header h3").html(title);
        $("#alertBox DIV.modal-body p").html(message);
        $("#alertBox").modal("show");
      }

      function send(url){
        //document.location.href = url;
        alert("todo in ajax");
      }

      function validatePass(p1, p2) {
            if (p1.value != p2.value || p1.value == '' || p2.value == '') {
                p2.setCustomValidity('{{__("Password errata")}}');
            } else {
                p2.setCustomValidity('');
            }
      }

      $(document).on('submit', "#loginForm", function(event){

        event.preventDefault();

        var data = $("#loginForm").serialize();
        makeAjaxCall("/loginAuth", "POST", data, 
          function(data){
            if ( data && data.success == true ){
              document.location.href = "/account";
            }
            else{
              showAlertBox("Authentication failed", data.error);
            }
          },
          function(err){
            showAlertBox("Authentication failed");
          }
        );

      });

      $(document).on("submit", "#registerForm", function(event){
        event.preventDefault();
        var data = $("#registerForm").serialize();
        makeAjaxCall("/register", "POST", data, 
          function(data){
            if ( data && data.success == true ){
              showAlertBox("Registration completed", data.message);
              document.location.href = "/#slide-2";
              $("#registerForm input").each(function(idx){ $(this).val("") });
            }
            else{
              showAlertBox("Registration failed", data.error);
            }
          },
          function(err){
            showAlertBox("Registration failed");
          }
        );

      });


    </script>
    <style type="text/css">

      .modal-dialog {
        left:0px;
      }

    </style>
{% endblock %}
{% block content %}

  <div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container">
    
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav row">
          <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Home page"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
          <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Login user"><span class="icon icon-user"></span> <span class="text">LOGIN</span></a></li>
          <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Game description"><span class="icon icon-briefcase"></span> <span class="text">WHAT IS IT?</span></a></li>
          <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="How to play"><span class="icon icon-gears"></span> <span class="text">HOW TO PLAY</span></a></li>
          <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="What people say about us"><span class="icon icon-heart"></span> <span class="text">SAY ABOUT US</span></a></li>
          <li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
        </ul>
        <div class="row">
          <div class="col-sm-2 active-menu"></div>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
  
  <!-- === Arrows === -->
  <div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
  </div><!-- /.arrows -->
  
  
  <!-- === MAIN Background === -->
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-semibold" style="margin-top:25px;padding-top:90px !important;">DEBELLUM</h1>
          <h4 class="font-thin"><span class="font-semibold">F R E E</span> Strategy Real Time War Game.</h4>
          <br>
          <br>
        </div><!-- /col-12 -->
      </div><!-- /row -->
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="/s02.png"></div><span class="font-semibold" style="background-color:#ce2127;padding:2px 4px;">PRICELESS</span></div>
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="/s01.png"></div><span class="font-semibold" style="background-color:#cdb320;padding:2px 4px;">FUNNY</span></div>
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="/s03.png"></div><span class="font-semibold" style="background-color:#2196cc;padding:2px 4px;">STRATEGIC</span></div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide1 -->
  
  <!-- === Slide 2 === -->
  <div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 col-lg-6 col-sm-6 font-thin">Already signed?<br/><span class="font-semibold">LOGIN AND<BR/>START PLAYING</span></div>
        <div class="col-12 col-lg-6 col-sm-6 font-thin">Not yet our friend?<br/><span class="font-semibold">Sign up</span><br/><span class="lead">or login via social network</span></div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-12 col-lg-6 col-sm-6">
          <div class="message-error">ERRORE</div>
          <form method="POST" id="loginForm">
            <input type="hidden" name="_csrf" value="{{token}}">
            <div class="row content-row">

            <div class="col-12 col-lg-5 col-sm-6" style="text-align:right;">
              <span style="font-size:25px;">
                <span class="icon icon-envelope"></span>
                <span class="font-thin">Your email</span>
              </span>
            </div>
            <div class="col-12 col-lg-6 col-sm-6">
                <input data-toggle="tooltip" data-placement="top" data-original-title="Enter your email address" autofocus  class="form-control" name="email" placeholder="email@email.com" size="20" type="email" required>
            </div>
            </div>
            <div class="row content-row">
              <div class="col-12 col-lg-5 col-sm-6" style="text-align:right;">
                  <span style="font-size:25px;">
                    <span class="icon icon-asterisk"></span>
                    <span class="font-thin">Your password</span>
                  </span>
              </div>
              <div class="col-12 col-lg-6 col-sm-6">
                  <input data-toggle="tooltip" data-placement="top" data-original-title="Enter your password (min 4 chars)" class="form-control" pattern=".{4,}" placeholder="password"  name="pass" size="20" type="password" required>
              </div>
            </div><!-- /row -->
            <div class="row content-row">
              <div class="col-12 col-lg-5 col-sm-6" style="text-align:right;">
                <i onClick="send('/recoveryPassword');" class="icon-recovery icon icon-key"> {{__("Password recovery")}}</i>
              </div>
              <div class="col-12 col-lg-6 col-sm-6">
                <button class="btn btn-large btn-danger form-control" id="loginFormBtn">{{__("Play!")}}</button>
              </div>
            </div>  
            <div class="row line-row" style="margin-top:20px;">
              <div class="hr">&nbsp;</div>
            </div>
            <div class="row subtitle-row" style="padding:10px;">
              <div class="col-12 col-lg-12 col-sm-6 font-thin">Access from Social Network?<br/><span class="font-semibold">No problem!</span></div>
            </div>
            <div class="row content-row">
              <div class="col-12 col-lg-6 col-sm-6 with-hover-text">
                <i onClick='send("/auth/facebook");' class="icon-social icon-facebook-sign"></i>
                 <span class="hover-text font-light ">{{__("Login with Facebook")}}</span>
              </div>
              <div class="col-12 col-lg-6 col-sm-6 with-hover-text">
                <i onClick='send("/auth/google");' class="icon-social icon-google-plus-sign"></i>
                <span class="hover-text font-light ">{{__("Login with Google")}}</span>
              </div>
            </div>  
          </form>
        </div>
        <div class="col-12 col-lg-1 col-sm-1">
        </div>
        <div class="col-12 col-lg-5 col-sm-6">
          <div class="register-message-error">ERRORE</div>
            <form method="POST" id="registerForm" class="form-horizontal" role="form">
              <div class="row content-row">
                <fieldset>
                  <div class="form-group">
                    <!-- Username -->
                    <label class="control-label col-sm-2"  for="cognome">{{__("Surname")}}</label>
                    <div class="controls col-sm-8">
                      <input autofocus pattern=".{2,15}" type="text" id="cognome" name="cognome" placeholder='{{__("Your last name")}}' value="{{newuser.cognome}}" class="input-xlarge form-control" required data-toggle="tooltip" data-placement="top" data-original-title='{{__("Your last name, min 2, max 15 chars")}}'>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Username -->
                    <label class="control-label col-sm-2"  for="nome">{{__("Nome")}}</label>
                    <div class="controls col-sm-8">
                      <input pattern=".{2,15}" type="text" id="nome" name="nome" placeholder='{{__("Your first name")}}' value="{{newuser.nome}}" class="input-xlarge form-control" required data-toggle="tooltip" data-placement="top" data-original-title='{{__("Your first name, min 2, max 15 chars")}}'>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Username -->
                    <label class="control-label col-sm-2"  for="nick">{{__("Nick")}}</label>
                    <div class="controls col-sm-8">
                      <input pattern=".{4,10}" type="text" id="nick" name="nick" placeholder='{{__("Choose a nickname")}}' value="{{newuser.nick}}" class="input-xlarge form-control" required data-toggle="tooltip" data-placement="top" data-original-title='{{__("Nickname will be used for identify yourself, min 4, max 10 chars")}}'>
                    </div>
                  </div>

                  <div class="form-group">
                    <!-- E-mail -->
                    <label class="control-label col-sm-2" for="email">{{__("E-mail")}}</label>
                    <div class="controls col-sm-8">
                      <input type="email" id="email" name="email" placeholder='{{__("Your email address")}}' value="{{newuser.email}}" required class="input-xlarge form-control" data-toggle="tooltip" data-placement="top" data-original-title='{{__("Enter a valid mail: you will receive activation link, match reminder and invites")}}'>
                    </div>
                  </div>

                  <div class="form-group">
                    <!-- Password-->
                    <label class="control-label col-sm-2" for="password">{{__("Password")}}</label>
                    <div class="controls col-sm-8">
                      <input pattern=".{4,}" type="password" id="pass" name="pass" placeholder="password" class="input-xlarge form-control" required data-toggle="tooltip" data-placement="top" data-original-title='{{__("Password should be at least 4 chars")}}'>
                    </div>
                  </div>

                  <div class="form-group">
                    <!-- Password -->
                    <label class="control-label col-sm-2"  for="password_confirm">Password ({{__("Confirm")}})</label>
                    <div class="controls col-sm-8">
                      <input pattern=".{4,}" type="password" id="password_confirm" name="password_confirm" placeholder="confirm password" class="input-xlarge form-control" required onfocus="validatePass(document.getElementById('pass'), this);" oninput="validatePass(document.getElementById('pass'), this);"  data-placement="top" data-original-title='{{__("Re-enter password choosen")}}'>
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="controls col-sm-offset-1 col-sm-10">
                          {% autoescape false %}
                              {{recaptcha_form}}
                          {% endautoescape %}
                      </div>
                  </div>

                  <div class="form-group">
                    <!-- Button -->
                    <div class="col-sm-offset-2 col-sm-8">
                      <button class="btn btn-inverse" onClick="javascript:history.go(-1);">{{__("Indietro")}}</button>&nbsp;
                      <button class="btn btn-danger">{{__("Registrati")}}</button>
                    </div>
                  </div>
                </fieldset>
                <input type="hidden" name="_csrf" value="{{token}}">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /slide2 -->
  
  <!-- === SLide 3 - Portfolio -->
  <div class="slide story" id="slide-3" data-slide="3">
    <div class="row">
      
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p01-large.jpg"><img class="thumb" src="images/portfolio/p01-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p02-large.jpg"><img class="thumb" src="images/portfolio/p02-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p09-large.jpg"><img class="thumb" src="images/portfolio/p09-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p010-large.jpg"><img class="thumb" src="images/portfolio/p10-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p05-large.jpg"><img class="thumb" src="images/portfolio/p05-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p06-large.jpg"><img class="thumb" src="images/portfolio/p06-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p07-large.jpg"><img class="thumb" src="images/portfolio/p07-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p08-large.jpg"><img class="thumb" src="images/portfolio/p08-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p03-large.jpg"><img class="thumb" src="images/portfolio/p03-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p04-large.jpg"><img class="thumb" src="images/portfolio/p04-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p11-large.jpg"><img class="thumb" src="images/portfolio/p11-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p12-large.jpg"><img class="thumb" src="images/portfolio/p12-small.jpg" alt=""></a></div>
    </div>
    <!-- /row -->
  </div><!-- /slide3 -->
  
  <!-- === Slide 4 - Process === -->
  <div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">See us <span class="font-semibold">at work</span></div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-bolt"></i></p>
          <h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
          <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-cog"></i></p>
          <h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
          <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-cloud"></i></p>
          <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
          <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-map-marker"></i></p>
          <h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
          <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-gift"></i></p>
          <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
          <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide4 -->
  
  <!-- === Slide 5 === -->
  <div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin"><span class="font-semibold">Clients</span> we’ve worked with</div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br/><br/> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2"><img src="/client01.png" alt=""></div>
        <div class="col-12 col-sm-2"><img src="/client02.png" alt=""></div>
        <div class="col-12 col-sm-2"><img src="/client03.png" alt=""></div>
        <div class="col-12 col-sm-2"><img src="/client04.png" alt=""></div>
        <div class="col-12 col-sm-2"><img src="/client05.png" alt=""></div>
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide5 -->
  
  <!-- === Slide 6 / Contact === -->
  <div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">You can find us literally anywhere, just push a button and we’re there</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
          <span class="hover-text font-light ">+44 4839-4343</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
          <span class="hover-text font-light ">munter@blacktie.co</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
          <span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
          <span class="hover-text font-light ">facebook/blacktie_co</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
          <span class="hover-text font-light ">@BlackTie_co</span></a>
        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /Slide 6 -->

{% endblock %}
