{% extends 'template.html' %}
{% block head %}
    {% parent %}
    {% block title %}Debellum - home page{% endblock %}
    <script src="login"></script>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top:80px;">
        <div class="row-fluid">
            <div class="span12">
                <div class="span4">
                  <div class="well">
                    <h3>{{__("Di cosa si tratta?")}}</h3>
                    <p>{{__("E' un gioco di strategia di guerra real-time multi-giocatore")}}<br/>
                        <a href="/register">{{__("Registrati")}}</a> {{__("e gioca <b>gratis</b>! Ricordati di dare un'occhiata al tutorial!")}} </a>
                    </p>
                  </div>
                  <div class="well">
                    <h3>{{__("Come funziona?")}}</h3>
                    <p>{{__("Nessun programma da scaricare o installare, tutto via web e tutto rigorosamente in real-time, grazie a NodeJS e HTML5")}}</p>
                    <!--a class="btn btn-info" href="/tutorial"><span class="btn-label">Tutorial</span></a-->
                  </div>
                  <div class="well">
                    <h3>{{__("Sei già registrato?")}}</h3>
                    <p>{{__("Non perdere altro tempo ed entra!")}}</p>
                    <a href="/loginAuth" role="button" class="btn btn-primary" data-toggle="modal">{{__("Fammi entrare ORA!")}}<br></a>
                  </div>
                  <div class="well visible-phone">
                    <h3>{{__("Registrati per giocare SUBITO e GRATIS")}}</h3>
                    <p>{{__("Cosa aspetti?")}}</p>
                    <a class="btn btn-large btn-inverse" href="/register"><span class="btn-label">{{__("Registrati ed inizia a giocare!")}}</span></a>
                  </div>
                </div>
                <div class="span8">
                      <div class="hero-unit hidden-phone" style="position:absolute;padding-bottom:30px;">
                        <div style='text-align:center;'>
                            <img src='/main' border='0' style="height:342px;">
                            <p style="position:relative;">
                                <span class='ca-quote'>&ldquo;</span>
                                <i>{{__("Attacca i nemici, difendi le tue terre, gioca le tue carte, ed infine.... conquista il mondo!")}}</i>
                                <span class='ca-quote-r'>&rdquo;</span>
                            </p>
                            <p>
                              <a class="btn btn-large btn-inverse" href="/register"><span class="btn-label">{{__("Registrati ed inizia a giocare!")}}</span></a>
                            </p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}