{% extends 'template.html' %}
{% block head %}
    {% parent %}
    {% block title %}Debellum - Real-time war game{% endblock %}
    <script>
      var ischrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
      var isfirefox = /firefox/.test(navigator.userAgent.toLowerCase());
      console.log("firefox: "+isfirefox);
      console.log("chrome: "+ischrome);
      $(document).ready(function(){
        if ( isfirefox ){
          alert("Stai usando Firefox? Ok, può andare, ma sarebbe meglio utilizzare CHROME");
        }
        else if ( !ischrome ){
          alert("Spiacente, Debellum è compatibile solo con Chrome (al massimo con Firefox)! Continua a tuo rischio e pericolo...");
        }
      });
    </script>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top:80px;">
        <div class="row-fluid">
            <div class="span12">
                <div class="span1">
                  <script type="text/javascript">
                    var uri = 'http://impit.tradedoubler.com/imp?type(img)g(21064582)a(2320835)' + new String (Math.random()).substring (2, 11);
                    document.write('<a href="http://clk.tradedoubler.com/click?p=232699&a=2320835&g=21064582" target="_BLANK"><img src="'+uri+'" border=0></a>');
                  </script>
                </div>
                <div class="span3">
                  <div class="well">
                    <h4>{{__("Di cosa si tratta?")}}</h4>
                    <p>{{__("E' un gioco strategico di guerra real-time multi-giocatore")}}<br/>
                        <a href="/register">{{__("Registrati")}}</a> {{__("e gioca <b>gratis</b>!<br/>Una volta entrato, ricordati di dare un'occhiata al tutorial!")}} </a>
                    </p>
                  </div>
                  <div class="well">
                    <h4>{{__("Come funziona?")}}</h4>
                    <p>{{__("Nessun programma da scaricare o installare, tutto via web e tutto rigorosamente in real-time, grazie al motore NodeJS ed allo standard HTML5")}}</p>
                    <!--a class="btn btn-info" href="/tutorial"><span class="btn-label">Tutorial</span></a-->
                  </div>
                  <div class="well">
                    <h4>{{__("Sei già registrato?")}}</h4>
                    <p>{{__("Non perdere altro tempo ed entra!")}}</p>
                    <a href="/loginAuth" role="button" class="btn btn-primary" data-toggle="modal">{{__("Fammi entrare ORA!")}}<br></a>
                  </div>
                  <div class="well visible-phone">
                    <h3>{{__("Registrati per giocare SUBITO e GRATIS")}}</h3>
                    <p>{{__("Cosa aspetti?")}}</p>
                    <a class="btn btn-large btn-inverse" href="/register"><span class="btn-label">{{__("Registrati ed inizia a giocare!")}}</span></a>
                  </div>
                </div>
                <div class="span8">
                      <div class="hero-unit hidden-phone" style="position:absolute;padding-bottom:0px;">
                        <div style='text-align:center;'>
                            <img src='/main' border='0' style="height:410px;">
                            <p style="position:relative;">
                                <span class='ca-quote'>&ldquo;</span>
                                <i>{{__("Attacca i nemici, difendi i territori, gioca le tue carte, ed infine.... conquista il mondo!")}}</i>
                                <span class='ca-quote-r'>&rdquo;</span>
                            </p>
                            <p>
                              <a class="btn btn-large btn-inverse" href="/register"><span class="btn-label">{{__("Registrati ed inizia a giocare!")}}</span></a>
                            </p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}