<!doctype html>
<html>
  <head lang="en">
    <title>{% block title %}Debellum{% endblock %}</title>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      
      <meta name="description" content="War game online free risk's style" />     
      <meta name="keywords" content="war game, war, game, online, free, realtime, real-time, nodejs, html5, risk">
      <meta property="og:title" content="">

      <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
      <link rel="stylesheet" href="/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
      <link rel="stylesheet" href="/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/style.css">  
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="prefetch" href="images/zoom.png">

      <script src="/html5shiv.js"></script>
      <script src="/jquery-1.10.2.min.js"></script>
      <script src="/jquery-migrate-1.2.1.min.js"></script>
      <script src="/bootstrap.min.js"></script>
      <script src="/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="/jquery.fancybox.pack-v=2.1.5.js"></script>
      <script src="/script.js"></script>

      <script type="text/javascript">
        $(document).ready(function(e) {
            var lis = $('.nav > li');
            menu_focus( lis[0], 1 );
            
            $(".fancybox").fancybox({
              padding: 10,
              helpers: {
                overlay: {
                  locked: false
                }
              }
            });
          
          });

        function showAlertBox(title, message){
          $("#alertBox DIV.modal-header h3").html(title);
          $("#alertBox DIV.modal-body p").html(message);
          $("#alertBox").modal("show");
        }

      </script>

    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <div class="modal fade bs-example-modal-lg" id="alertBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3></h3>
          </div>
          <div class="modal-body">
            <p class="lead"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{__("Chiudi")}}</button>
          </div>
        </div>
      </div>
    </div>

  </body>
  {% block footer %}
  {% endblock %}
</html>
