<!doctype html>
<html>
  <head>
    <!-- TradeDoubler site verification 2320835 -->
    <title>{% block title %}Debellum{% endblock %}</title>
  {% block head %}
    <script src="jquery.js" type="text/javascript"></script>
    <script src="jquery-ui.js" type="text/javascript"></script>
    <script src="bootstrap.js" type="text/javascript"></script>
    <script src="bootstrap-acknowledgeinput" type="text/javascript"></script>
    <!--script src="easing" type="text/javascript"></script-->
    <script src="intro" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="index.css" type="text/css"/>
    <link rel="stylesheet" href="intro.css" type="text/css"/>
  {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src='/logo_small' border='0'></a>
          <!--a href='/it'>IT</a>
          <a href='/en'>EN</a-->
          <div class="navbar-content">
            <ul class="nav " style=""></ul>
          </div>
          <p class="head-logo">D E B E L L U M</p>
          <p style="float:left;margin-top: 16px;margin-left: 35px;">
            <script type="text/javascript">
              var uri = 'http://impit.tradedoubler.com/imp?type(img)g(21064570)a(2320835)' + new String (Math.random()).substring (2, 11);
              document.write('<a href="http://clk.tradedoubler.com/click?p=232699&a=2320835&g=21064570" target="_BLANK"><img src="'+uri+'" border=0></a>');
            </script>
          </p>
          <p class="chrome">{{__("Compatibile con")}} <a href='https://www.google.com/intl/it/chrome/browser/' target="_CHROME"><img src="/chrome"></a></p>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
  {% block footer %}
  {% endblock %}
</html>
